.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #004d40;
}

input:checked + .slider:before {
  transform: translateX(36px);
}

.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.lang-label {
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #333;
}

.language-selector {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f4f4f4;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;
  z-index: 999;
  height: 35px;
}

.navbar {
  position: fixed;
  top: 35px;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #004d40;
  padding: 10px 50px;
}

body {
  padding-top: 105px;
}
.top-bar .social-icons a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.top-bar .social-icons a:hover {
  color: #007bff;
}
  .navbar img {
    margin-right: 10px;
  }
  
  .navbar .title {
    font-size: 20px;
    font-weight: 700;
    margin-right: auto;
    color: #fff;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
  }
  
  .navbar .login {
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
.dropdown {
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #004d40;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #3e8e41;
  }
  .dropdown:hover .dropdown-content {
    display: block;
}
